.product-list {
	@include make-md-column(10);
	padding: 0px;
	.product {
		@include make-sm-column(3);
		@include make-md-column(2);
		width: 20%;
		@media (max-width:768px) {
			width: 50%;
			float: left;
		}
		.product-box {
			@media (max-width:768px) {
				height: 200px;
				min-height: 1px;
				a {
					font-size: 12px;
				}
		}
		}
	}
	.product-header {
		@include make-md-column(12);
		h1 {
			font-weight: 400;
			margin-bottom: 20px;
			margin-top: 10px;
			font-size: 18px;
		}
	}
}
.content-list {
	@include make-row();
	margin-top: 20px;
}


.product-box {
	// border-top: 1px solid $red;
	min-height: 200px;
	h2 {
		font-size: 14px;
		text-align: center;
		margin: 0px;
	}
	.product-image {
		margin-bottom: 10px;
	}
	a {
		color: #000;
		&:hover {
			color: $red;
		}
	}	
}