.footer {	
	// @include make-row();
	padding-top: 20px;
	min-height: 120px;
	background-color: #fff;
	z-index: 3;
	position: relative;
	.copyright {
		@include make-xs-column(8);
		font-size: 12px;
	}
	.social {
		@include make-xs-column(4);
		text-align: right;
		a {
			font-size: 16px;
			margin-left: 10px; 
		}
	}
}
// .footer .social {
// 	a {
// 		background-image: url("../img/desperiatfete.jpg");
// 		background-repeat: no-repeat;
// 		background-position: left top;
// 		width: 70px;
// 		height: 60px;
// 		display: block;
// 		float: right;
// 	}
// 	.fa {
// 		display: none;
// 	}
// }