.cos-item {
	@include clearfix;	
	margin-bottom: 20px;
	position: relative;
	@media (max-width: 992px) {
		background-color: #fff;
		border-bottom: 1px solid #eee;
		padding-bottom: 20px;
		&:last-child {
			border: none;
		}
	}

}
.cos-image {
	@include make-sm-column(2);	
	padding: 0px;
	background-color: #fff;
	max-height: 148px;
	overflow: hidden;
	@media (max-width:768px) {
		display: none;
	}
}
.cos-item-content {
	@include make-md-column(10);
	@include make-sm-column(10);
	@include make-xs-column(12);
	@media (max-width: 768px) {
		width: 100%;
	}
	position: relative;
	background-color: #dcdcdc;
	@media (max-width: 992px) {
		background-color: #fff;
	} 
}
.cos-details {
	@include make-sm-column(10);
	// @include make-sm-column(7);
	padding: 10px;
	
	p {
		@media (max-width:768px) {
			display: none;
		}
	}
	
	h3 {
		margin: 0px 0px 10px;
		font-size: 16px;
		font-weight: 600;
	}
}
.cos-delete {
	// @include make-md-column(2);
	// @include make-sm-column(3);
	padding: 10px;
	text-align: right;
	@media (max-width: 992px) {
		  width: 200px;
		  position: absolute;
		  top: 0px;
		  right: 0px;
	}
	@media (max-width:768px) {
		position: absolute;
		top: 0px;
		right: 10px;
		padding-top: 7px;
	}
	.fa {
		margin-left: 10px;
		display: inline-block;
		@media (max-width:768px) {
			color: red;
		}
	}
	a {
		span {
			display: inline-block;
			@media (max-width:768px) {
				display: none;
			}
		}
	}
}
.cos-headline {
	padding-top: 10px;
	border-top: 1px solid #000;
}
.cos-container {
	max-width: 700px;
	padding-left: 80px;
	.control-label {
		width: 200px;
		float: left;
		display: inline-block;
		text-align: right;
		padding-right: 10px;
		@media (max-width:768px) {
			text-align: left;
			width: auto;
		}
	}
	.form-control {
		width: 420px;
		float: right;
		display: inline-block;
		border-radius: 0px;
		outline: none;
		border:1px solid #8a8a8a;
		max-width: 420px;
		@media (max-width:768px) {
			width: 100%;
		}
	}
	input[type="submit"] {
		@extend .btn-accent;
		width: auto;
	}
}
.form-horizontal {
	padding: 0px 10px;
}
#ordersubmit {
	margin-left: 0px;
	margin-right: -10px;
	@media (max-width:768px) {
		margin-right: 0px; 
	}
}
.cos-badges {
	position: absolute;
	right: 0px;
	top: 30px;
	width: 100px;
	@media (max-width:768px) {
		display: none;
	}
	.badge-item {
		width: 40px;
		float: left;
		margin-right: 10px;
	}
}

// #ordersubmit {
// 	margin-left: 0px;
// 	margin-right: -10px;
// 	@media (max-width:768px) {
// 		margin-right: 0px;
// 	}
// }
#cart-page {
	margin-top: 20px;
}
#ordersubmit1 {
	margin-left: 0px;
	margin-right: -10px;
	@media (max-width:768px) {
		margin-right: 0px;
	}
}
.inner-image {
	display: none;
	@media (max-width:768px) {
		display: block;
		@include make-xs-column(6);
	}
}