.category-list {
	@include make-row();
}
.category-box {
	@include make-md-column(4);
	position: relative;
	height: 262px;
	overflow: hidden;
	margin-bottom: 20px;
	img {
		width: 100%;
	}
}
.category-box-title {
	position: absolute;
	width: 100%;
	max-width: 347px;
	display: inline-block;
	left: 20px;
	top: 40%;
	line-height: 60px;
	background-color: #fff;
	font-weight: 400;
	margin: 0px;
	text-align: center;
	a {
		width: 100%;
		height: 100%;
		font-size: 20px;
		display: block;
		@include animation(0.2s);		
		&:hover {
			background-color: $red;
			color: #fff;
		}
	}
}
.filter-vertical {
	.btn-accent, .btn-gray {
		width: 100%;
	}
	.anuleaza {
		margin-top: 10px;
		font-weight: 300;
		text-transform: none;
	}
	#applyFilters {
		font-weight: 600;
	}
}
.filter-wrapper {
	h3 {
		margin-top: 10px;
		font-size: 14px;
		color: #000;
		line-height: 25px;

	}
	ul {
		list-style-type: none;
	}
	label {
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 0px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	span {
		font-weight: 600;
	}
	input[type="checkbox"] {
		margin: 0px;
		vertical-align: middle;
	}
	
}