
.row {
	@include make-row();
}
#main-content {
		@include make-sm-column(10);
		padding-right: 0px;	
		@media (max-width: 768px) {
		padding: 0px;
		}
}
.inspiratie-content {
	@include make-sm-column(10);
		padding-right: 0px;	
}
.wrapper {
	padding-top: 127px;
	@media (max-width: 992px) {
		padding-top: 58px;
	}
}
.container-fix {
	padding: 0px;
	margin-top: 20px;
	@media (max-width: 768px) {
		padding: 0px 10px;
		margin-top: 10px;
	}
}
//Inspiratie

.intro-paragraph {
	margin-bottom: 20px;
	h1 {
		
		margin: 0px;
		margin-bottom: 10px;
		font-weight: 300;
		@media (max-width: 768px) {
			font-size: 30px;
		}
		&.absolute {
			top: 10px;
			color: #fff;
			position: absolute;
			left: 20px;
			@media (max-width: 768px) {
				position: relative;
				left: auto;
				top: auto;
				color: #000;
			}

		}
	}
	img {
		margin-bottom: 10px;
	}
	p {
		font-size: 20px;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
}


.modal-content {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	border: 1px solid #000;
}

.modal-header {
padding: 15px;
border: none;
min-height: 16.42857px;
}

#postform2, #postform3 {
	border-top: 1px solid #333;
	padding-top: 10px;
	table {
		margin: 0 auto;	
		max-width: 500px;
		width: 100%;
	}
	td {
		font-weight: 600;
		// width: 100px;
	}
	input[name="Send"],input[type="button"] {
		@extend .btn-accent;
		margin: 0 auto;
		display: block;
		margin-top: 10px;
		padding: 0px 20px;
		margin: 0px;
		margin-right: 0px;
		margin-top: 5px;
		width: 200px;		
	}
	input[type="text"] {
		max-width: 420px;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;		
		display: inline-block;
		border-radius: 0px;
		outline: none;
		border: 1px solid #8a8a8a;
		margin-bottom: 10px;
	}
	textarea {
		max-width: 420px;
		width: 100%;
		border: 1px solid #8a8a8a;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;	
	}
}
.catalog-footer {
	.btn-accent,.btn-gray {
		width: 200px; 
		margin-left: 100px;
	}
}
#formularFisa {
	.modal-dialog {
		width: 400px;
	}
	.modal-title {		
		display: inline-block;
		float: left;
	}
}
.owl-carousel .owl-controls {	
	.owl-dots {
		@include clearfix;
	}
	.owl-dot {
		float: left;
		span {
			display: inline-block;
			width:10px;
			height:10px;
			background-color: #fff;
			margin: 0px 5px;
			border: 1px solid #000
		}
		&.active {
			span {
				background-color: $red;
				border:1px solid #fff;
			}
		}
	}
}


body {
	
}
a.contact {
	display: block;
	margin-top: 10px; 
	display: block; 
	position: absolute;
	top: 280px;
	padding: 0px 10px;
	left: 0px;
	@media (max-width: 1200px) {
		top: 250px;
	}
	@media (max-width: 992px) 
	{
		position: relative;
		margin-bottom: 10px;
		top: auto;
		padding: 0px;
	}
	@media (max-width: 768px) 
	{
		position: relative;
		display: none;
	}
}
a.catalog {
	display: block; 
	position: absolute; 
	top: 570px;
	padding: 0px 10px;
	left: 0px;
	@media (max-width: 1200px) {
		top: 510px;
	}
	@media (max-width: 992px) 
	{
		position: relative;
		margin-bottom: 10px;
		top: auto;
		padding: 0px;
	}
	@media (max-width: 768px) 
	{
		position: relative;
		display: none;
	}
}


.mobile-wrapper {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	z-index: 5;
	position: relative;
	// transform: translate(0px, 0px);
	background-color: #fff;
}


// MOBILE



.mobile-nav {
	webkit-transition: all 300ms ease-in-out;
	  -moz-transition: all 300ms ease-in-out;
	  -o-transition: all 300ms ease-in-out;
	  transition: all 300ms ease-in-out;
	transform: translate(0px,0px);
	-webkit-transform: translate(0%,0px);
	position: fixed;
	right: 0%;
	top:58px;
	width:80%;
	height: 100%;
	bottom: 0px;
	background-color: #fafafa;	
	overflow: hidden;	
	ul {
		list-style-type: none;
	}
	a {
		text-decoration: none;
		padding: 12px 10px;
		display: block;
		width: 100%;
		border-bottom: 1px solid #eee;
		&:hover {
			text-decoration: none;
			color: #fff;
			background-color: $red;
			.fa {
				color: #fff;
			}
		}
	}
	.mobile-secondary-nav {		
		margin-top: 40px;
		border-top: 4px solid $red;
		a {
			color: #aaa;
			font-size: 12px;
		}
	}

	.fa {
		float: right;
		font-size: 14px;
		padding-top: 4px;
		color: $red;
	}	
	ul li > ul {	
		  -webkit-transition: all 300ms ease-in-out;
		  -moz-transition: all 300ms ease-in-out;
		  -o-transition: all 300ms ease-in-out;
		  transition: all 300ms ease-in-out;	
		display: block;
		position: absolute;
		top: 0px;
		left: 100%;
		height: 100%;
		background-color: #fafafa;
		box-shadow: 0px 0px 3px #eee;
		width: 80%;
		li {
			
			// background-color: #0f0;			
			a {
				&:hover {
					background:#6699c4;
				}
			}
		}
	}
	ul li > ul li > ul {
		width: 80%;
		// background-color: #6d6d6d;
		li {
			a {
				&:hover {
					// background:#428bca;
				}
			}
		}
	}
	ul li.fly-in ul.M1 {
		transform: translate(-100%,0px);
		-webkit-transform: translate(-100%,0px);
	}
	ul li.fly-in ul.M1 li.fly-in ul.M2 {
		transform: translate(-100%,0px);
		-webkit-transform: translate(-100%,0px);
	}
}
li.fly-in {
	z-index: 102;
	background-color: #eee;
}
ul li > ul > li.fly-in {
	background-color: #ddd;
}

a.fly-mask {
	width:20%;
	height: 100%;
	display: none;
	padding:0px;
	margin: 0px;	
	background-color: rgba(0,0,0,0);
	-webkit-transition: all 300ms ease-in-out;
	  -moz-transition: all 300ms ease-in-out;
	  -o-transition: all 300ms ease-in-out;
	  transition: all 300ms ease-in-out;
		
}
a.fly-mask-active {	
	-webkit-transition: all 300ms ease-in-out;
	  -moz-transition: all 300ms ease-in-out;
	  -o-transition: all 300ms ease-in-out;
	  transition: all 300ms ease-in-out;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	&:hover {
		
		background-color: rgba(0,0,0,0);
	}
}

.fly-in-nav {
	transform: translate(100%,0px);
	-webkit-transform: translate(100%,0px);	
	// position: absolute;
	// right:0px;
	// top: 0px;
}

.mobile-tab-navigation {
	display: none;
	margin-bottom: 10px;
	select {
		border: 1px solid $red;
		line-height: 30px;
		height: 30px;
		padding: 5px;
		outline: none;
		background-color: #fff;
		width: 100%;
	 padding-left: 0px;
	}
}
.mobile-tab-navigation-product {
	display: none;
	margin-bottom: 10px;
	select {
		border: 1px solid $red;
		line-height: 30px;
		height: 30px;
		padding: 5px;
		outline: none;
		background-color: #fff;
		width: 100%;
	 padding-left: 0px;
	}
}
.mobile-nav .mobile-secondary-nav a.switch-context {
	@extend .btn-accent;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 14px;
}
.mobile-cart {
	margin-right: 10px;
	color: $red;
}
#postform2 {
	display: none;
	margin-top: 10px;
	border-top: 1px solid #eee;
	padding-top: 10px;
}
.catalog-content {
	margin-bottom: 10px;
}