.left-nav {
	@include make-md-column(2);	
	padding-left: 0px;
	min-height: 900px;
}

#main-content {
		@include make-md-column(10);
		padding-right: 0px;	
}
.inspiratie-content {
	@include make-md-column(10);
		padding-right: 0px;	
}
.container-fix {
	padding-right: 0px;
}
//Inspiratie

.intro-paragraph {
	margin-bottom: 20px;
	h1 {
		
		margin: 0px;
		margin-bottom: 10px;
		font-weight: 300;
		
		&.absolute {
			top: 10px;
			color: #fff;
			position: absolute;
			left: 20px;
		}
	}
	img {
		margin-bottom: 10px;
	}
	p {
		font-size: 20px;
	}
}


.modal-content {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	border: 1px solid #000;
}

.modal-header {
padding: 15px;
border: none;
min-height: 16.42857px;
}

#postform2 {
	table {
		margin: 0 auto;
	}
	td {
		font-weight: 600;
	}
	input[name="Send"] {
		@extend .btn-accent;
		margin: 0 auto;
		display: block;
		margin-top: 10px;
		padding: 0px 20px;
		margin: 0px;
		margin-right: 72px;
		margin-top: 5px;
	}
	input[type="text"] {
		
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;		
		display: inline-block;
		border-radius: 0px;
		outline: none;
		border: 1px solid #8a8a8a;
		margin-bottom: 10px;
	}
}
#formularFisa {
	.modal-dialog {
		width: 400px;
	}
	.modal-title {		
		display: inline-block;
		float: left;
	}
}
.owl-carousel .owl-controls {	
	.owl-dots {
		@include clearfix;
	}
	.owl-dot {
		float: left;
		span {
			display: inline-block;
			width:10px;
			height:10px;
			background-color: #fff;
			margin: 0px 5px;
			border: 1px solid #000
		}
		&.active {
			span {
				background-color: $red;
				border:1px solid #fff;
			}
		}
	}
}

#home-slider {
	.owl-controls {
		width: 100%;
		position: absolute;
		top: 0px;

	}
	.owl-dots {
		max-width: 1170px;
		margin: 0 auto;
		margin-top: 140px;
	}
}
body {
	padding-top: 127px;
}
