.home-slider-wrapper {
	margin-top: -127px;
	position: relative;
	overflow: hidden;
	@media (max-width: 768px) {
		margin-top: 0px;
	}
	.slide-content {
		background-repeat: no-repeat;
		background-position: center top;
		height: 990px;
		padding-top:400px;
		@media (max-width: 768px) {
			padding: 0px;
			height: auto;
		}
		.container {
			position: relative;
			@media (max-width: 768px) {
				padding: 0px;
			}
		}
		a {
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
		.headline-slide {
			font-size: 40px;
			color:#fff;
			font-weight: 300;
			margin: 0px 0px 20px;
			@include clearfix;
			@media (max-width: 768px) {
					padding: 0px 10px;
					color: #000;
					display: none;
			}

			&.headline-left {
				text-align: left;
			}
			&.headline-right {
				text-align: right;
			}
		}
		img {	
				width: auto;
				float: right;
				padding-right: 10px;
				@media (max-width: 768px) {
					padding: 0px;
				}
			}
		.slide-text {
			@include make-row();
			background-color: rgba(0,0,0,0.6);
			height: 150px;
			padding: 10px 0px;
			color: #fff;
			@media (max-width: 768px) {
					position: absolute;
					bottom: 10px;
					margin: 0px;
					a.btn-accent {
						position: absolute;
						right: 10px;
						top: 10px;
						bottom: auto;
					}				
			}
			h3 {
				@include make-md-column(8);
				margin: 0px 0px 10px;
				font-size: 30px;
				font-weight: 300;
			}
			p {
				@include make-md-column(8);
				font-size: 18px;
				font-weight: 300;		
				@media (max-width: 768px) {
					font-size: 14px;
				}		
			}
		}
	}	
}
.home-box {
	@include make-sm-column(4);	
	margin-bottom: 10px;
	.home-box-content {		
		background-color: #fff;
		height: 281px;
		height: 260px;
		position: relative;
		overflow: hidden;
		@media (max-width: 1200px) {
			height: 225px;
		}
		@media (max-width: 992px) {
			height: 165px;
		}
		@media (max-width: 768px) {
			height: auto;
			img {
				width: 100%;
			}
		}
	}
	h2 {
		padding: 10px;
		margin: 0px;
		width: 100%;
		display: inline-block;	
		position: absolute;
		top: 0px;	
		font-size: 24px;
		font-weight: 300;
		min-height: 88px;		
		max-width: 367px;
		width: 100%;
		b, strong {
			color: $red;
			font-weight: 400;
		}
		&.bg-white {
			background-color: #fff;
			color: #000;
		}
		&.white {
			color: #fff;
		}		
	}
	a.cta {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	&.narrow {
		@include make-sm-column(2);
		@include make-xs-column(6);
		// @media (max-width: 768px) {
		// 	display: none;
		// }
	}
}

#small-boxes {
	margin-top: -335px;
	z-index: 5;
	position: relative;
	@include make-row();
	@media (max-width: 768px) {
		margin-top: 10px;
	}
}
#home-slider {	
	 .owl-nav {
		color: #fff;
		padding: 0px 10%;
		 .fa {
		 	font-size: 20px;
		 }
	 }
	 .owl-next {
	 	float: right;
	 }
	 .owl-prev {
	 	float: left;
	 }
}

#home-slider {
	.owl-controls {
		width: 100%;
		position: absolute;
		top: 30%;
		@media (max-width: 768px) {
			display: none;
		}

	}
	.owl-dots {
		max-width: 1170px;
		margin: 0 auto;
		margin-top: 140px;
	}
}