.product-page {
	@include make-row();	
	margin-top: 20px;
}
.product-left-nav {
	@include make-sm-column(2);	
}
.product {
	@include make-md-column(10);

	// padding: 0px;		
}
.product-info {
	@include clearfix;	
	margin-bottom: 30px;
	
}
.product-info-content {
	@include make-sm-column10(4);	

	min-height: 504px;	
	position: relative;
	@media (max-width: 768px) {
		min-height: 1px;
	}
	h1 {
		font-weight: 400;
		margin: 0px;
		margin-bottom: 10px;
	}
}

.product-order {
	@include clearfix;
	@media (max-width: 768px) {
		margin-bottom: 10px;
	}
	input[type="submit"] {
		position: absolute;
		bottom: 0px;
	}
}
.product-info-image {
	@include make-sm-column10(6);
	padding-right: 0px;	
	@media (max-width: 992px) {
		padding-right: 10px;
	}
}
.product-info-carousel { 
	a {
		display: block;
	}
	.owl-stage-outer {
		z-index: 2;
	}
	.owl-controls {
		position: absolute;
		top: 20px;
		width: 100%;
		@include clearfix;
		.fa {
			font-size: 10px;
			&:hover {
				color: $red;
			}
		}
		.owl-prev {
			margin-left: -15px;
			
			float: left;
		}
		.owl-next {
			float: right;
			margin-right: -15px;

		}
	}
}
.product-info-image-main {
	margin-bottom: 20px;
	img {
		width: 100%;
	}	
	a {
		display: block;
	}
}
.product-caracteristici {
	@include make-sm-column10(4);	
	@include clearfix;
	margin-bottom: 20px;

}
p.headline {
		font-weight: 700;
		margin-bottom: 5px;
		color: #000;
	}
.product-info-list {
	padding-top: 10px;
	border-top: 1px solid #000;		
	
	.item {
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}
}
.product-aplicabilitate {
	@include make-sm-column10(2);	
	margin-bottom: 20px;
	ul {
		margin-left: 20px;
		display: block;
	}	
}
.product-related {
	@include make-sm-column10(4);	
	ul {
		margin-left: 20px;
		display: block;
	}	
	margin-bottom: 20px;
}
.product-dimensiuni {
	@include make-sm-column10(10);
	font-weight: 400;
	margin-bottom: 20px;	
	.product-dimensiuni-item {
		@include make-sm-column10(2);
		p {
			// @include make-row();
		}
	}
	.product-dimensiuni-single-item {		
		.dimensiuni-image {
			@include make-sm-column10(2);
		}		
	}
	input[type="submit"] {
		margin-left: 0px;
		margin-top: 10px;
		border-radius: 0px;
	}
}
.short-info {	
	@include make-sm-column10(2);	
	padding-left: 0px;	
	padding-right: 10px;	

}

.culori-list {		
		@include make-sm-column10(4);		
		padding: 0px;
		padding-left: 10px;		
		@media (max-width: 992px) {
			padding-left: 10px;
		}
		@media (max-width: 768px) {
			padding: 0px;
		}
		.color-item {
			@include make-sm-column10(5);
			margin-bottom: 20px;
			position: relative;
			padding: 0px;
			padding-right: 10px;
			@media (max-width: 768px) {
					padding: 0px;
				}
			@media (max-width: 992px) {
				padding-right: 20px;
				font-size: 12px;
			}	
			&:nth-child(2n) {
				padding-right: 0px;
				padding-left: 10px;
				@media (max-width: 768px) {
					padding: 0px;
				}
				@media (max-width: 992px) {
					padding-right: 20px;
				}
			}
			span {
				color: #fff;
				position: absolute;
				left: 20px;
				top: 10px;
				display: block;
				font-weight: 600;
				@media (max-width: 992px) {
					max-width: 70%;
					left: 10px;
				}
			}
			a {
				height: 160px;
				overflow: hidden;
				display: block;
				@media (max-width: 1200px) {
					height: 140px;
				}
				@media (max-width: 992px) {
					height: 128px;
				}
				@media (max-width: 768px) {
					height: auto;
				}

			}			
		}

	}
	
	.culori-big-block {
		@include make-sm-column10(4);
		position: relative;
		span {
			position: absolute;
			left: 20px;
			top: 10px;
			display: block;
			font-weight: 600;			
			color: #fff;
		}
	}
.product-culori {
	@include make-sm-column10(10);
	margin-bottom: 20px;	
	padding: 0px;
	.short-info {
		padding-left: 10px;
		@media (max-width: 768px) {
			padding: 0px;
		}
		@media (max-width: 992px) {
			padding-right: 10px;
		}
	}
	.row {
		@media (max-width: 768px) {
			margin: 0px;
		}
	}
	
}
.product-montaj {
	@include make-sm-column10(10);
	margin-bottom: 20px;
	padding: 0px;	
	@media (max-width: 768px) {
			padding: 0px;
		}
		@media (max-width: 992px) {
			padding-right: 10px;
		}
	.short-info {
		padding-left: 10px;
		@media (max-width: 768px) {
			padding: 0px;
		}
		@media (max-width: 992px) {
			padding-right: 10px;
		}
	}
	.row {
		@media (max-width: 768px) {
			margin: 0px;
		}
	}
}

.tabel-header {
	border-top: 1px solid #000;
	padding-top: 10px;
	padding-left: 32px;
	background-image: url("../img/arrow-down.jpg");
	background-position: left 5px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	p {
		cursor: pointer;
		display: block;
		span {
			width: 120px;
			transition: all 0.2s ease-in;
			float: right;
			font-weight: 400;	
			font-size: 12px;	
			text-transform: none;	
			&.after {
				font-family: "FontAwesome";				
				color: #fff;				
				vertical-align: middle;
				margin-left: 5px;
				font-size: 14px;
			}
			&.closed:after {
				font-family: "FontAwesome";	
				content: "\f196";
				margin-left: 5px;
				font-size: 14px;
				color: #fff;				
				vertical-align: middle;
			}	
			&.opened:after{
				font-family: "FontAwesome";	
				content: "\f147";
				margin-left: 5px;
				font-size: 14px;
				color: #fff;				
				vertical-align: middle;
			}
		}
	}
}
// .tabel-header-2 {
// 	background: #fff;
// 	padding-left: 0px;
// 	border: none;
// 	padding-top: 0px;
// 	.btn-accent {
// 		display: inline-block;
// 		margin-bottom: 10px;
// 		.fa {
// 			margin-left: 5px;
// 		}
// 	}
// }
.tabel {
	display: none;	
  @media (max-width: 768px) {
  	display: none;
  }
	background-color: #dcdcdc;
	table {
		width: 100%;
		border-left: none;
		border-right: none;
		border-top: none;
	}
	thead {
		border-top: none;
	}
	td,th  {
		border-left: 0px;
		border-right: 0px;
	}
	th {
		border-top: none;
		font-weight: 600;
		@media (max-width: 768px) {
			font-weight: 400;
			font-size: 10px;
		}
	}
}
.extra-detail {
	@include clearfix;
	clear: both;
}
.product-badges {
	@include clearfix;
	position: absolute;
	bottom: 85px;
	@media (max-width: 768px) {
		position: relative;
		margin-top: 10px;
		margin-bottom: 10px;
		bottom:auto;
	}
	.badge-item {
		width: 56px;
		float: left;
		margin-right: 10px;
		@media (max-width: 768px) {
			width: 40px;
		}
	}
}
.mobile-tab-navigation-wrapper {
	padding: 0px 10px;
}