.product-page {
	@include make-row();	
}
.product-left-nav {
	@include make-md-column(2);	
}
.product {
	@include make-md-column(10);
	padding: 0px;		
}
.product-info {
	@include clearfix;	
	margin-bottom: 30px;
	
}
.product-info-content {
	@include make-md-column10(4);	

	min-height: 504px;	
	position: relative;
	h1 {
		font-weight: 400;
		margin: 0px;
		margin-bottom: 10px;
	}
}

.product-order {
	@include clearfix;
	input[type="submit"] {
		position: absolute;
		bottom: 0px;
	}
}
.product-info-image {
	@include make-md-column10(6);
	// padding-right: 0px;	
}
.product-info-image-main {
	margin-bottom: 20px;
	img {
		width: 100%;
	}	
}
.product-caracteristici {
	@include make-md-column10(4);	
	margin-bottom: 20px;

}
p.headline {
		font-weight: 700;
		margin-bottom: 5px;
		color: #000;
	}
.product-info-list {
	padding-top: 10px;
	border-top: 1px solid #000;		
	
	.item {
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}
}
.product-aplicabilitate {
	@include make-md-column10(2);	
	margin-bottom: 20px;
	ul {
		margin-left: 20px;
		display: block;
	}	
}
.product-related {
	@include make-md-column10(4);	
	ul {
		margin-left: 20px;
		display: block;
	}	
	margin-bottom: 20px;
}
.product-dimensiuni {
	@include make-md-column10(10);
	font-weight: 400;
	margin-bottom: 20px;	
	.product-dimensiuni-item {
		@include make-md-column10(2);
		p {
			@include make-row();
		}
	}
	.product-dimensiuni-single-item {		
		.dimensiuni-image {
			@include make-md-column10(2);
		}		
	}
	input[type="submit"] {
		margin-left: -10px;
		margin-top: 10px;
	}
}
.short-info {	
	@include make-md-column10(2);	
	padding-left: 0px;	
	padding-right: 10px;	

}

.culori-list {		
		@include make-md-column10(4);		
		padding: 0px;
		.color-item {
			@include make-md-column10(5);
			margin-bottom: 20px;
			position: relative;
			span {
				color: #fff;
				position: absolute;
				left: 20px;
				top: 10px;
				display: block;
				font-weight: 600;
			}
		}
	}
	
	.culori-big-block {
		@include make-md-column10(4);
		position: relative;
		span {
			position: absolute;
			left: 20px;
			top: 10px;
			display: block;
			font-weight: 600;			
			color: #fff;
		}
	}
.product-culori {
	@include make-md-column10(10);
	margin-bottom: 20px;	
	
}
.product-montaj {
	@include make-md-column10(10);
	margin-bottom: 20px;	
}
.tabel-header {
	border-top: 1px solid #000;
	padding-top: 10px;
	padding-left: 32px;
	background-image: url("../img/arrow-down.jpg");
	background-position: left 5px;
	background-repeat: no-repeat;
}
.tabel {
	background-color: #dcdcdc;
	table {
		width: 100%;
		border-left: none;
		border-right: none;
		border-top: none;
	}
	thead {
		border-top: none;
	}
	td,th  {
		border-left: 0px;
		border-right: 0px;
	}
	th {
		border-top: none;
		font-weight: 600;
	}
}
.extra-detail {
	@include clearfix;
	clear: both;
}
.product-badges {
	@include clearfix;
	position: absolute;
	bottom: 85px;
	.badge-item {
		width: 56px;
		float: left;
		margin-right: 10px;
	}
}
.left-nav {
	ul.M3 {
		list-style-type: none;
		padding-left: 5px;
		// border-left: 1px solid $red;
		margin-left: 5px;
	}
}