body {
	padding: 0px;
	margin: 0px;
	color: #000;
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: 400;	
	background-color: #fff;
}
.container {
	max-width: 1080px;
}
img { display: block; }
p {
	padding:0;
	margin:0;
}
ul {
	padding: 0px;
	margin: 0px;
}
a { 
	color: #000;
	text-decoration: none;
	&:hover, &:focus {	
		text-decoration: none;
	} 

}
 
// ul {
// 	margin: 0px;
// 	padding: 0px;
// 	list-style-type: none;
// }
// .spacing {
// 	margin-bottom:20px;
// }
// .clear {
// 	float: none;
// }
// .nav-pills>li+li {
// 	margin: 0px;
// }

// .bottom-20 {
	
// }




@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

$map-width: 50% !default;
$list-width: (100%-$map-width) !default;
$gutter-width: 1em;

@mixin layout-map($list-position: false) {
	@if $list-position == left or $list-position == right {
		$map-position: if($list-position == right, left, right);
		$list-position: if($map-position == right, left, right);

		@if $list-position == left or $list-position == right {
			> .map {
				float: $map-position;
				width: $map-width;
				padding-#{$list-position}: $gutter-width / 2;
			}

			> .list {
				display: block;
				float: $list-position;
				width: $list-width;
				padding-#{$map-position}: $gutter-width / 2;
	 			@include box-sizing(border-box);
			}
		}
	} @else {
		> .map {
	 		width: 100%;
	 		@include box-sizing(border-box);
			-mri-debug: $list-position;
		}

		@if $list-position == false {
			> .list {
	 			display: none;
			}
		} @if $list-position == below {
			> .list {
	 			display: block;
				padding-top: $gutter-width;
			}
		}
	}
}

$list-background-color: #ddd !default;
$list-background-color-current: #eee !default;

.dynamicweb-map {
	@include clearfix;

	> .map,
	> .map > div {
		height: 100%;
	}

	.map {
		// CSS from other sources may interfere with maps (@see https://github.com/zurb/foundation/issues/112)
		img {
			max-width: none;
			height: auto;
		}
	}

	&.list-hidden {
		> .list {
			display: none;
		}
	}

	&.list-left > {
		.map {
			float: right;
			padding-left: 1em;
		}
	}

	&.list-right > {
		.map {
			float: left;
			padding-right: 1em;
		}
	}


	.list {
		ol, ul, li {
			@include reset-list;
			line-height: 100%;
		}

		ol, ul {
			li {
				padding: .5em;
				background: $list-background-color;
				margin-bottom: 1em;
			}
		}

		li.hidden {
			display: none;
		}

		.current {
			background: $list-background-color-current;
		}
	}

	form {
		margin: 1em 0;
	}
}

.dynamicweb-map-info-window {}

.map-title {
	@include make-md-column(2);
	border-top: 1px solid #000;
	margin-top: 30px;
	padding-top: 10px;
}
.map-list {
	@include make-md-column(10);
	margin-top: 20px;
	
	padding: 10px;
	@include clearfix;
	ul {
		@include make-row();
		@include clearfix;
		border-top: 1px solid #000;
		padding-top: 10px;
	}
	li { 
		// @include make-md-column(2);
		float: left;
		width: 25%;
		padding-left: 0px;
		word-wrap: break-word;
		font-size: 12px;
		min-height: 120px;
	}
	.group {
		color: #626262;
	}
}
.hidden-xs {
  	display: block;
  	@media (max-width: 768px) {	
  		display: none;
  	}
  }
.hidden-sm {
	display: block;
	@media (max-width: 992px) {
		display: none;
	}
}  
// .visible-xs {
// 	display: none;
// 	@media (max-width: 768px) {
// 		display: block;
// 	}
// }